<div class="container">
    <mat-toolbar>
        <span>Criar Usuários</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form"] ((ngSubmit)="adcionarUsuario()" )>
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="inputUsuario">
                        <mat-label>Usuário</mat-label>
                        <input matInput autocomplete="off" formControlName="usuario">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <img src="./assets/img/usuarios.png" width="250" height="250">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="inputUsuario">
                        <mat-label>Nome</mat-label>
                        <input matInput autocomplete="off" formControlName="nome">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="inputUsuario">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput autocomplete="off" formControlName="sobrenome">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="inputUsuario">
                        <mat-label>Sexo</mat-label>
                        <mat-select formControlName="sexo">
                            <mat-option *ngFor="let item of sexo" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button style="margin-right: 30px;">Voltar</button>
                    <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Aceitar</button>
                </mat-grid-tile>
            </mat-grid-list>
            <br>
            <br>
        </form>
    </mat-card>

</div>